body{
    text-align: center;
    font-family: Microsoft JhengHei;
}
.box{
    box-sizing:content-box;
    -moz-box-sizing:content-box; /* Firefox */
    -webkit-box-sizing:content-box; /* Safari */
    position:absolute;
    padding:20px 20px;
    width: 40%;
    color: white; /* 文字顏色 */
    background-color:#272727; /* 底色 */
    border-radius:10px;
    opacity: 90%;
}
#box1{
    left:50px;
}
#box2{
    right: 50px;
}
#playButton{
    background-color:#7B7B7B; /* 底色 */
}